body {
    background-color: #fafafa;
    background-image: url("images/background-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    margin-top: 12%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px 20px;
}

.main-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 42px;
    text-align: center;
}

.bio {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
}